services:
  - type: web
    name: sejel-server
    env: node
    region: frankfurt
    plan: free
    buildCommand: npm install
    startCommand: npm start
    disk:
      name: sejel-data
      mountPath: /data
      sizeGB: 1
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: CLIENT_URL
        sync: false
      - key: ADMIN_PASSWORD
        sync: false
